

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
.inputchange:focus{
    border: none;
    outline: none;
}
.hoverlink{
    background-color: rgb(255, 255, 255);
}
.addingshadow{
    border-radius: 5px;
    box-shadow: 0px 0px 7px rgba(72, 72, 72, 0.827);
}
.hoverlink:hover h3{
    color: #157deb;
}
.othertags:hover{
    color:black
}
body{
    background-color: #F8F9FA !important;
    height: 100vh;
    width: 100%;
}
.setheight{
position: relative;
 height: 80vh;
 width:100%;
}
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }
  
  a {
    color: #0077cc;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }
  
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }
  
  .border-top {
    border-top: 1px solid #e5e5e5;
  }
  .border-bottom {
    border-bottom: 1px solid #e5e5e5;
  }
  
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
  
  button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
  }
  
  .footer {
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
  }

  .logintext:hover p{
    color: #3167dc;
  }
  .sellertext:hover p{
    color: #3167dc;
  }
  .carttext:hover p{
    color:#3167dc
  }

  /* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }
  
  a {
    color: #0077cc;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }
  
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
  }
  
  .border-top {
    border-top: 1px solid #e5e5e5;
  }
  .border-bottom {
    border-bottom: 1px solid #e5e5e5;
  }
  
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
  
  button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
  }
  


  .sidebar{
    margin-top: 5px;
    background-color: #3663b0;
    box-shadow: 0px 0px 8px rgba(84, 84, 84, 0.705);
    position: fixed;
    width: max-content;
    padding: 4rem;
    height: 90vh;
    left: 0px;
  }
  .setting-a{
    margin: 5px;
    width: 100%;
    font-size: larger;
  }
  
  .sidebarli{
    list-style-type: none;
  }
  
.container{
    width: 100%;
}
.container-main{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    gap: 1rem;
}
.image-container{
    grid-area: 1/1/6/6;
    height: 100%;
}
.buybtn-container{
    grid-area: 6/1/7/6;
}
.cartbtncontainer{
    grid-area: 7/1/8/6;
}
.cartbtncontainer2{
    grid-area: 7/1/8/6;
}
.detailsContainer {
    padding: 2rem;
    background-color:#DEE2E6;
    grid-area: 1 / 6 / 11 / 11;
    box-shadow: 0px 0px 7px #4645456f;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border: 2px solid;
    padding: 4px;
}
/* .img:hover{
    position: absolute;
    width: 50%;
    object-fit: contain;
} */
.buybtn,.addcartbtn{
    background-color: rgb(64, 119, 238);
    color: white;
}
.buybtn:hover,.addcartbtn:hover{
    background-color: rgb(68, 86, 122);
    color: rgb(255, 255, 255);
    box-shadow:0px 0px 10px #000000bd;
}
.reviewstext{
    color: rgb(38, 45, 64);
    font-family:'Times New Roman', Times, serif;
}
.textcolor{
    color: rgb(99, 100, 101);
}
.carttotal{
    position: fixed;
    bottom: 5%;
    right:35%;
}
.btncolor {
    background-color: #ff6f61;
    color: white;
    transition: background-color 0.1s ease-in-out, padding 0.2s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btncolor:hover {
    padding: 1rem;
    background-color: #ff3624;
    box-shadow: 0px 0px 7px rgba(71, 71, 71, 0.951);
    color: rgb(99, 93, 93);
}
.classempty{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.classempty p{
    font-size: 100px;
    color: rgb(129, 129, 129);
}
.containermainupper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containermain{
    border-radius: 5px;
    /* border: 1px solid black; */
    width: max-content;
    padding: 3rem 5rem;
    box-shadow: 0px 0px 6px rgba(87, 87, 87, 0.697);

}
.payment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.border-circle{
    text-align: center;
    color: rgba(89, 188, 89, 0.763);
    border: 2px solid rgba(89, 188, 89, 0.763);
    border-radius:50%;
    width: max-content;
    padding: 0.4rem 1.2rem;
}
.btns{
    
    background-color: #157deb;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns:hover{
    background-color: #5991cd;
    box-shadow: 0px 0px 6px rgba(87, 87, 87, 0.697);
}

.settingborder{
    box-shadow: 0px 0px 6px rgba(87, 87, 87, 0.697);
    padding: 1rem;
}
.setimginorder {
    height: 120px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.orderimg {
    max-height: 96%;
    max-width: 100%;
    object-fit: contain;
    box-shadow: 0px 0px 3px rgba(87, 87, 87, 0.697);
}
.sidebaraside{
    position: fixed;
}
/* Left Sidebar Styling */
.sidebarli {
    list-style-type: none;
    padding: 0;
}

.setting-a {
    margin-bottom: 1rem;
}

/* Main Content Styling */
main { /* Creates space for the sidebar */
    margin-right: 5%;
}

/* Adjust sidebar spacing or color if necessary */
aside {
    background-color: #f8f9fa;
    padding-top: 20px; /* Optional: Add top padding for a cleaner look */
}
.setdivedit{
    border: 1px solid black;
    width: 100%;
    height: 100vh;
}
.setincarosel{
    width: 100%;
}
.prev__btnclass{
    background-color: #5353535e;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.applytext{
    font-size: 50px;
    position: absolute;
    left: 150px;
    font-weight: 600;
    top: 200px;
    z-index: 2;
}
.applytext_p{
    width: 50vw;
    font-size: 20px;
    position: absolute;
    font-weight: 400;
    top: 95px;
    z-index: 2;
}
.applytext_prod{
    color: #3d4349;
    font-size: 50px;
    font-weight: 600;    
}
.border_catagory{
    text-decoration: none;
    color: #343A40;
    background-color: #F8F9FA;
    border:none;
    border-top: none;
    font-weight:500;
    transition: 0.1s ease-in-out;
}
.border_catagory:hover{
    color: #777778;
    border-bottom:3px solid #343A40; 
}
.settingproddivwidth{
    border: 1px solid black;
    width: 90%;
}
/* ///////////////////////////////////////////////////////////// */

.product-carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.product-carousel {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 25px;
    padding: 20px 15px;
    width: 86%;
}
.product-carousel ::-webkit-scrollbar {
    display: none;
}
.product-carousel  {
    scrollbar-width: none; 
}

.product-item {
    flex: 0 0 225px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    transition: transform 0.3s ease;
}

.product-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.product-item h5 {
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
}

.product-item p {
    font-size: 1.1rem;
    color: #e8774a;
    font-weight: bold;
    transition:transform 0.3s ease, box-shadow 0.3s ease;
}

.buy-now-btn,.Addcart-btn {
    background-color: #343A40;
    color: #fff;
    border: none;
    padding: 8px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-now-btn:hover,.Addcart-btn:hover {
    background-color: #55585c;
}

.carousel-btn {
    color: #343A40;
    background: none;
    border: none;
    font-size: 50px;
    cursor: pointer;
}

.prev-btn {
    position: absolute;
    left: 40px;
}

.next-btn {
    position: absolute;
    right: 40px;
}
.applyflex{
    font-size: 50px;
    position: absolute;
    right: 150px;
    font-weight: 600;
    top: 200px;
    z-index: 2;
}
.applytext_p{
    width: 50vw;
    font-size: 20px;
    position: absolute;
    font-weight: 400;
    top: 95px;
    z-index: 2;
}
.stylecartemptydiv{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}